.peck {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 15px solid #848484;
  transform-origin: center;
  z-index: 1;
}
