.thunder-shock {
  position: absolute;
  width: 220px;
  height: 220px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 0, 1) 0%,
    rgba(255, 255, 0, 1) 50%,
    rgba(0, 0, 255, 1) 100%
  );
  border-radius: 50%;
  z-index: 1000;
  pointer-events: none;
  mix-blend-mode: screen;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}
