body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.714);
}

#main {
  width: 100vw;
  height: 100vh;
  height: auto;
  display: none;
}
