@keyframes rightTackleAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes leftTackleAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

.right-tackle {
  animation: rightTackleAnimation 0.5s forwards;
}

.left-tackle {
  animation: leftTackleAnimation 0.5s forwards;
}
