@keyframes frozenAnimation {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
    background-color: whitesmoke;
  }
  75% {
    transform: scale(1.05);
    opacity: 0.7;
    background-color: rgb(0, 145, 255);
  }
  25% {
    transform: scale(1.05);
    opacity: 0.7;
    background-color: rgb(0, 145, 255);
  }
  0% {
    transform: scale(1);
    opacity: 1;
    background-color: whitesmoke;
  }
}

.frozen {
  animation: frozenAnimation 4s ease-in-out infinite;
}
