@keyframes paralysisAnimation {
  0%,
  100% {
    transform: translateX(0);
    opacity: 1;
    background-color: whitesmoke;
  }
  75% {
    transform: translateX(4px);
    opacity: 0.7;
    background-color: rgb(255, 234, 0);
  }
  25% {
    transform: translateX(-4px);
    opacity: 0.7;
    background-color: rgb(255, 234, 0);
  }
  0% {
    transform: translateX(0);
    opacity: 1;
    background-color: whitesmoke;
  }
}

.paralyzed {
  animation: paralysisAnimation 4s ease-in-out infinite;
}
