#card-crustabri {
  background-color: #99a2ff;
  border: 10px solid #293bff;
}

#card-pikachu {
  background-color: lightyellow;
  border: 10px solid #ffd700;
}

#card-evoli {
  background-color: whitesmoke;
  border: 10px solid #ffa047;
}

#card-roucool {
  background-color: rgb(202, 196, 196);
  border: 10px solid #ffc443;
}

#card-racaillou {
  background-color: whitesmoke;
  border: 10px solid #c0c0c0;
}

#card-insecateur {
  background-color: #cfffd1;
  border: 10px solid #43ff49;
}

#card-sabelette {
  background-color: rgb(209, 209, 209);
  border: 10px solid #ffeb79;
}

#card-mewtwo {
  background-color: rgb(255, 200, 249);
  border: 10px solid #ff79e2;
}

#card-scarabrute {
  background-color: #cfffd1;
  border: 10px solid #9aff3c;
}

#card-krabboss {
  background-color: #99a2ff;
  border: 10px solid #293bff;
}

#card-salameche {
  background-color: #ff9999;
  border: 10px solid #ff2929;
}

#card-nidoranMale {
  background-color: rgb(201, 164, 197);
  border: 10px solid #8d437d;
}

#card-fantominus {
  background-color: rgb(203, 186, 201);
  border: 10px solid #2d262b;
}

#card-ectoplasma {
  background-color: rgb(203, 186, 201);
  border: 10px solid #432139;
}

#card-spectrum {
  background-color: rgb(199, 170, 196);
  border: 10px solid #4a1038;
}
