.hypnosis {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 50%,
    rgba(179, 0, 255, 0.5) 100%
  );
  box-shadow: 0 0 20px rgba(255, 0, 179, 0.5);
  transform-origin: center center;
  opacity: 0;
  pointer-events: none;
}
