@font-face {
  font-family: "PixelOperatorMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../../styles/fonts/pixel_operator/PixelOperatorMono.ttf")
    format("truetype");
}

.dialogue {
  display: flex;
  font-family: "PixelOperatorMono";
}

#dialogue-container {
  width: 80%;
  height: 65px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 4px solid blueviolet;
  border-radius: 5px;
  margin: auto;
}
