.shine {
  position: absolute;
  width: 150px;
  height: 10px;
  background: rgb(241, 241, 241);
  box-shadow: 0 0 5px 2px rgb(241, 241, 241);
  z-index: 1;
  border-radius: 50%;
}

.shine::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 10px;
  top: 0;
  left: 0;
  background: rgb(241, 241, 241);
  box-shadow: 0 0 5px 2px rgb(241, 241, 241);
  z-index: 1;
  border-radius: 50%;
  transform: rotate(45deg);
}

.shine::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 10px;
  top: 0;
  left: 0;
  background: rgb(241, 241, 241);
  box-shadow: 0 0 5px 2px rgb(241, 241, 241);
  z-index: 1;
  border-radius: 50%;
  transform: rotate(-45deg);
}
