.skull {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 1;
}

.skull::before,
.skull::after {
  content: "";
  position: absolute;
  background: radial-gradient(circle, #fffefe 0%, #f9f8f8 50%, #fcfcfc 100%);
  width: 100px;
  height: 50px;
  top: 55px;
  border-radius: 0 0 50% 50%;
}

.skull::before {
  left: 35px;
  transform: rotate(30deg);
}

.skull::after {
  right: 35px;
  transform: rotate(-30deg);
}

.mouth {
  position: absolute;
  width: 100px;
  height: 70px;
  z-index: 1;
}
.mouth::before,
.mouth::after {
  position: absolute;
  content: "⚡";
  width: 100px;
  height: 70px;
  font-size: 150px;
  font-weight: bolder;
  font-family: monospace;
  z-index: 1;
  filter: brightness(50) blur(3px) contrast(50);
}

.mouth::before {
  right: 150px;
  transform: rotate(-110deg) scaleX(-1);
}

.mouth::after {
  left: 150px;
  transform: rotate(110deg);
}
