.stomp {
  position: absolute;
  animation: stompScale 0.4s ease-in-out forwards;
}

@keyframes stompScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scale(1);
  }
}
