<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon game beginning</title>
    <link
      rel="stylesheet"
      href="./src/app/components/player-form/player-form.css"
      type="text/css"
    />
    <script
      rel="stylesheet"
      src="./player-selectors.js"
      type="module"
      defer
    ></script>
  </head>

  <body>
    <section id="playerForm-section">
      <form id="player-form">
        <img
          id="logo-pokemon"
          src="./src/assets/images/types-logo/player-form/pokemon-logo.png"
        />
        <input
          type="text"
          id="playerForm-input"
          placeholder="Entrer votre nom ici *"
          required
        />
        <button id="playerForm-submitButton" type="submit">
          C'est parti !
        </button>
      </form>
    </section>
  </body>
</html>
