.defense-curl {
  position: absolute;
  z-index: 1000;
  animation: defenseCurl 2s ease-in-out forwards;
}

@keyframes defenseCurl {
  0% {
    transform: scale(1);
    transform: scaleY(1);
  }
  50% {
    transform: scaleX(1.2);
    transform: scaleY(0.7);
  }
  100% {
    transform: scale(1);
    transform: scaleY(1);
  }
}

.defense-curl::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220%;
  height: 150%;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    transparent 0%,
    rgba(229, 255, 0, 0.903) 95%
  );
  transform: translate(-50%, -50%);
  opacity: 0.9;
  z-index: 1000;
  pointer-events: none;
  animation: lightPulse 2s infinite;
}

@keyframes lightPulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
