.tail-whip {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, #d8a973 30%, #c98b4a 60%, #8d6431 100%);
  border-radius: 50% 50% 70% 70%;
  transform-origin: top center;
  animation: wag 1s forwards ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@keyframes wag {
  0%,
  100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
