<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon Menu Mod</title>
    <link
      rel="stylesheet"
      href="./src/app/components/menu/menu.css"
      type="text/css"
    />
  </head>
  <body>
    <select id="menu">
      <option value="default" selected>Sélectionner un mode de jeu</option>
      <option value="definite-mod">Combat défini</option>
      <option value="random-mod">Adversaire aléatoire</option>
      <option value="close-menu">Fermer le menu</option>
    </select>
  </body>
</html>
