<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon second selection</title>
    <link
      rel="stylesheet"
      href="./src/app/components/pokemon-second-selection/pokemon-second-selection.css"
      type="text/css"
    />
    <script
      rel="stylesheet"
      src="./pokemon-second-selection.js"
      type="module"
      defer
    ></script>
  </head>
  <body>
    <select id="pokemonSecondSelection">
      <option value="choose" selected>Choisissez le Pokémon adverse</option>
      <option value="Spectrum">Spectrum</option>
      <option value="Ectoplasma">Ectoplasma</option>
      <option value="Fantominus">Fantominus</option>
      <option value="Crustabri">Crustabri</option>
      <option value="Pikachu">Pikachu</option>
      <option value="Évoli">Evoli</option>
      <option value="Roucool">Roucool</option>
      <option value="Racaillou">Racaillou</option>
      <option value="Insécateur">Insécateur</option>
      <option value="Sabelette">Sabelette</option>
      <option value="Mewtwo">Mewtwo</option>
      <option value="Scarabrute">Scarabrute</option>
      <option value="Krabboss">Krabboss</option>
      <option value="Salamèche">Salamèche</option>
      <option value="Nidoran♂">Nidoran♂</option>
    </select>
  </body>
</html>
