#card-pikachu {
  background-color: lightyellow;
  border: 10px solid #FFD700;
}
  
#card-evoli {
  background-color: whitesmoke;
  border: 10px solid #ffa047;
}
  
#card-roucool {
  background-color: whitesmoke;
  border: 10px solid #C0C0C0;
}

#card-racaillou {
  background-color: whitesmoke;
  border: 10px solid #C0C0C0;
}

#card-insecateur {
  background-color: #cfffd1;
  border: 10px solid #43ff49;
}

#card-sabelette {
  background-color: rgb(209, 209, 209);
  border: 10px solid #ffeb79;
}

#card-mewtwo {
  background-color: rgb(255, 200, 249);
  border: 10px solid #ff79e2;
}

#card-scarabrute {
  background-color: #cfffd1;
  border: 10px solid #9aff3c;
}

#card-krabboss {
  background-color: #99a2ff;
  border: 10px solid #293bff;
}

#card-salameche {
  background-color: #ff9999;
  border: 10px solid #ff2929;
}

#card-nidoranMale {
  background-color: rgb(201, 164, 197);
  border: 10px solid #8d437d;
}