#container-display-result {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

#result {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 5px;
}