#header-container {
  width: 80%;
  min-width: 400px;
  height: auto;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}

#logo {
  width: 20%;
  padding: 10px 0;
  font-style: italic;
  margin: auto;
}

#container-title-selections-vs-container-players {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-mod {
  width: 350px;
  height: auto;
  font-size: 30px;
  font-weight: bold;
  display: none;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  color: rgb(115, 0, 115);
  padding: 10px;
}

#vs {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: red;
  display: none;
}

#players-computer-container {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.infos-container {
  font-size: 20px;
  color: darkcyan;
  font-weight: bold;
}
