#container-stats {
  width: 200px;
  height: 700px;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250px;
  right: 20px;
  color: whitesmoke;
  font-size: 20px;
}

#first-attacker-stats-container,
#second-attacker-stats-container {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  margin-top: 60px;
}

.stat-container {
  width: 90%;
  height: 30px;
  border: 1px solid rgba(245, 245, 245, 0.315);
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
