* {
  margin: 0;
  padding: 0;
}

#ring {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(
    to bottom,
    #9fefff 0%,
    #80eaff 20%,
    #67e6ff 30%,
    #4de1ff 40%,
    #1ed9ff 50%,
    #0bd6ff 60%,
    #00c6ee 70%,
    #00b4d8 80%,
    #0d9f00 85%,
    #0d9f00 100%
  );
  margin: auto;
}

.pokemon-location {
  width: 300px;
  height: 445px;
  min-width: 300px;
  min-height: 445px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: auto;
}
