* {
  margin: 0;
  padding: 0;
}

#ring {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(
    to bottom,
    #bdf1fc 0%,
    #9fefff 20%,
    #80eaff 30%,
    #67e6ff 40%,
    #4de1ff 50%,
    #39deff 60%,
    #21daff 70%,
    #00d5ff 90%,
    #0d9f00 95%,
    #0d9f00 100%
  );
  margin: auto;
}

.pokemon-location {
  width: 300px;
  height: 445px;
  min-width: 300px;
  min-height: 445px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: auto;
}
