* {
  margin: 0;
  padding: 0;
}

#ring {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin: auto;
}

.pokemon-location {
  width: 30%;
  height: 100%;
  min-width: 300px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 1px dashed grey;
  margin: auto;
}
