#card-pikachu {
  background-color: lightyellow;
  border: 10px solid #ffd700;
}

#card-evoli {
  background-color: whitesmoke;
  border: 10px solid #fffacd;
}

#card-roucool {
  background-color: whitesmoke;
  border: 10px solid #c0c0c0;
}

#card-racaillou {
  background-color: whitesmoke;
  border: 10px solid #c0c0c0;
}
