#container-display-dialogue {
  width: 99.4%;
  height: 75px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 4px solid blueviolet;
  border-radius: 5px;
  position: fixed;
  top: 507px;
  left: 0;
}

#dialogue {
  display: none;
}
