* {
  margin: 0;
  padding: 0;
}

#ring {
  width: 100%;
  background-color: black;
}

.pokemon-location {
  width: 80%;
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center ;
  background-color: black;
  border: 1px dashed grey;
  margin: auto;
}

.big-circle {
  width: 80px;
  height: 80px;
  border: 1px dashed grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.little-circle {
  width: 20px;
  height: 20px;
  border: 1px dashed grey;
  border-radius: 50%;
}
