#container-btn-fight {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#fightButton {
  width: 100%;
  height: 70px;
  border: none;
  background-color: green;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 20px;
  font-weight: bolder;
}

#fightButton:active {
  background-color: lightgreen;
}

#fightButton:disabled {
  background-color: lightgray;
  color: gray;
  cursor: not-allowed;
  width: 100%;
  height: 70px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 20px;
  font-weight: bolder;
}



